/* content from leinecker */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    /* Optional: clean font */
}

.content {
    padding: 1px 16px;
    height: 1000px;
    margin-top: 25px;
    margin-left: 270px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.loggedInDiv {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 2vw;
    align-self: center;
}

.accessUIDiv {
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
    align-self: center;
}

.column {
    display: inline-block;
    padding: 10px 10px;
    vertical-align: middle;
}

.column button {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tables {
    align-self: center;
}

.addContacts {
    align-self: center;
}